<?xml version="1.0"?>
<openerp>
    <data>
        
        <menuitem id="pofatt.menu_action_pofatt_root" name="Работа с Доверенностями"  sequence="10"
                parent="base.menu_base_partner"
                groups="base.group_user,base.group_sale_manager,purchase.group_purchase_manager"/>

    
        <menuitem id="pofatt.pofatt_main_menu" name="Pofatt operations"  sequence="10"
                parent="pofatt.menu_action_pofatt_root"/>

    
        <menuitem id="pofatt.pofatt_action_todo_menu" name="Реестр Доверенностей"  sequence="10"
                parent="pofatt.pofatt_main_menu"
                action="pofatt.action_pofatt_1"/>

    
        <menuitem id="pofatt.menu_act_pofatt_4" name="To do pofatt_New Window"  sequence="11"
                parent="pofatt.pofatt_main_menu"
                action="pofatt.act_pofatt_4"/>

    
        <menuitem id="pofatt.menu_act_pofatt_2" name="To do pofatt_inline_edit"  sequence="12"
                parent="pofatt.pofatt_main_menu"
                action="pofatt.act_pofatt_2"/>

    
        <menuitem id="pofatt.menu_act_pofatt_3" name="To do pofatt_inline_view"  sequence="13"
                parent="pofatt.pofatt_main_menu"
                action="pofatt.act_"/>
    </data>
    </openerp>
    